<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{url_for('static',filename='css/style.css') }}">
  <title>My Final Project</title> 
  
   
<!-- TODO: add more links on the navigation bar here -->
  
</head>
<div class="topnav">
<ul>

<li class = "navigation" id = "home"><a href= "/">HOME</a></li>`
<li class = "navigation"><a href="/about">ABOUT</a></li>
<li class = "navigation"><a href="/signup">SIGN UP</a></li>
<li class = "navigation"><a href="/login">LOG IN</a></li>

</ul>
</div>


<body>
{% block body %}
{% endblock%}
</body>

</html>
