{% extends "base.html" %}


{% block body %}

<h1>Home Page</h1>

<!-- TODO: implement home page. -->
<html>
<body></body>
{% endblock %}\

<div id="fixedheader"> 

		<img src="../static/images/logo2.gif" style="height: 90%; width: 55%; position:absolute; margin-left: 18%">
  <ul>
    <li><a href="home">Home</a></li>
    <li><a href="feed">Newsfeed</a></li>
    <li><a href="list">List of Students</a></li>

    

    
    <li style="float:right;"><a href="login">Log in</a></li>
    
    <li style="float:right;"><a href="register">Register</a></li>
  </ul>    

	</div>
</html>
